img{
    width: 70%;
    padding-left: 30%;
}
.container{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
   background-color: cornflowerblue;
   color: white;
}
h1{
    background-color: darkblue;
    color: white;
    text-align: center;'
    font-size: 100px;
}
.GTX1660SUPER{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: cornflowerblue;
    font-size: 20px;
    color: white;
    
}
.img2{
    padding-left: 20%;
}
